<!DOCTYPE html>
<html>
<head>
  <title>Finance Manager</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <header>
    <h1>Finance Manager</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Transactions</a></li>
        <li><a href="#">Budgets</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="overview">
      <h2>Overview</h2>
      <p>Your current balance is {{balance}}</p>
      <a href="/viewtransactions" id="submit-button">View Transaction</a>
      <a href="/transaction" id="submit-button">Add Transaction</a>
    </section>
    
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Finance Manager</p>
  </footer>
</body>
</html>
